.main-layout {
  display: flex;
  main {
    margin: 24px 48px 24px 35px;
    width: 100%;
  }

  .file-info-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
