@import '../../style/variables';

.content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .icon {
    align-self: center;
  }

  .add-modal {
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
  }

  .alert-text {
    display: flex;
    flex-direction: column;
    width: 100%;

    .w-50 {
      width: 40%;
    }

    .info {
      @include set-typeface('ProximaNova-Regular');
      margin: 16px 0;
    }

    .warning-footer {
      background: $grey2;
      display: flex;
      justify-content: space-between;
      margin: 16px 0;
    }
  }
}
