@import '../../style/variables';

.side-nav {
  background-color: $grey2;
  min-height: 100vh;
  padding: 32px 0;
  width: 256px;
  box-sizing: border-box;

  .title {
    @include set-typeface('Lato-Bold');
    color: $grey1;
    font-weight: bold;
    font-size: 12px;
    margin: 0 24px 15px 32px;
    text-transform: uppercase;
  }

  .links {
    color: $modal-header;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 32px;
    text-transform: capitalize;

    &:hover,
    &.active {
      background-color: $active-bg;
    }
  }
}
