@import '../../style/variables';

.side-nav {
  background-color: $grey2;
  min-height: 100vh;
  padding: 32px 0;
  width: 256px;
  box-sizing: border-box;

  .title {
    @include set-typeface('Lato-Bold');
    color: $grey1;
    font-weight: bold;
    font-size: 12px;
    margin: 0 24px 15px 32px;
    text-transform: uppercase;
  }

  .links {
    color: $modal-header;
    cursor: pointer;
    font-size: 16px;
    text-transform: capitalize;

    .anchor-link {
      box-sizing: border-box;
      display: inline-block;
      padding: 12px 32px;
      width: 100%;
    }

    &:hover:not(.drop-down),
    &.active:not(.drop-down) {
      background-color: $active-bg;
    }
  }

  .sub-links {
    margin: 16px 0;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .drop-down {
    .drop-down-link {
      // background-color: red;
      position: relative;
      &::after {
        content: url(http://nosmalltask2.s3-website.ap-south-1.amazonaws.com/assets/icons/functional/dropdown.svg);
        position: absolute;
        right: 24px;
        transform: translateY(-50%);
        top: 50%;
      }
    }

    .drop-down-menu {
      box-sizing: border-box;
      border-left: 1px solid $active-bg;
      margin: 15px 0 15px 32px;
      padding-left: 16px;
    }

    .anchor {
      display: inline-block;
      width: 100%;
    }
  }
}
