// Lato fonts
@font-face {
  @include font-style;
  font-family: 'lato-regular';
  src: url('/fonts/Lato/Lato-Regular.ttf');
}
@font-face {
  @include font-style;
  font-family: 'lato-black';
  src: url('/fonts/Lato/Lato-Black.ttf');
}
@font-face {
  @include font-style;
  font-family: 'lato-bold';
  src: url('/fonts/Lato/Lato-Bold.ttf');
}
@font-face {
  @include font-style;
  font-family: 'lato-semi-bold';
  src: url('/fonts/Lato/Lato-Semibold.ttf');
}
@font-face {
  @include font-style;
  font-family: 'lato-medium';
  src: url('/fonts/Lato/Lato-Medium.ttf');
}
@font-face {
  @include font-style;
  font-family: 'lato-heavy';
  src: url('/fonts/Lato/Lato-Heavy.ttf');
}
@font-face {
  @include font-style;
  font-family: 'lato-light';
  src: url('/fonts/Lato/Lato-Light.ttf');
}
@font-face {
  @include font-style;
  font-family: 'lato-italic';
  src: url('/fonts/Lato/Lato-Italic.ttf');
}

// Proxima Nova fonts
@font-face {
  @include font-style;
  font-family: 'ProximaNova-Regular';
  src: url('/fonts/ProximaNova/ProximaNova-Regular.otf');
}
