@mixin set-typeface($typeface) {
  font-family: $typeface, sans-serif;
}

$white-color: #ffffff;
$text-color: #535b62;
$danger: #ff5942;
$modal-header: #2f363f;
$search-border: #dde0e4;
$grey1: #afb2b6;
$grey2: #f9fafc;
$blue: #4ab7ff;
$blue-light: #e6f5ff;
$inactive-link: #81878c;
$active-link: #001800;
$active-bg: #eeeff1;

$backdrop-bg: rgba(175, 178, 182, .7);

$sub-menu-border: 1px solid rgba(221, 224, 228, .5);
$modal-border: 1px solid rgba(221, 224, 228, .7);

$sub-menu-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, .05);
$modal-box-shadow: 0 16px 64px 0 rgba(0, 0, 0, .08);

// z-index
$z-index-sub-menu: 1000;
$z-index-backdrop: 1004;
$z-index-modal: 1005;
