@mixin set-typeface($typeface) {
  font-family: $typeface, sans-serif;
}

$white-color: #ffffff;
$text-color: #535b62;
$modal-header: #2f363f;
$search-border: #dde0e4;
$grey1: #afb2b6;
$blue: #4ab7ff;

// z-index
$z-index-modal: 1005;
